<html>

<body>
    <script>

        var websocketBase = document.location.origin;
        websocketBase = websocketBase.replace(/http(s?)/, 'ws$1');

        var exampleSocket = new WebSocket(websocketBase);
        exampleSocket.onopen(
            (event) => {
                console.log(`event was ${event}`);
                exampleSocket.send("Hello");
            }
        )

        exampleSocket.onmessage(
            (event) => console.log(event)
        )
    </script>
</body>

</html>