{% extends "index.html" %}
{% block content %}
<div style="display: grid;justify-items: center;overflow: hidden; grid-template-columns: 25% 75%; margin-top: 30px;">
    <div id="userInfo" style="display: grid;
    grid-template-rows: auto 80px 80px;">
        {% if not user.userImage %}
        <img style="width: 100%;" src="https://raw.githubusercontent.com/AHarmlessPyro/chatApp/master/static/egg.jpg">
        {% else %} <img style="width: 100%;" src="{{message['image']}}">
        {% endif %}
        <div>
            {{user.username}}
        </div>
        <div>
            {{user.email}}
        </div>
    </div>
    <div id="messageList" style="display: grid; grid-template-columns:33% 1% 66%; width: 100%; padding: 30px;">
        {% for message in messages%}
        <div style=" justify-self: flex-start;">{{message.timestamp}}</div>
        :
        <div style="justify-self:flex-start;">{{message.body}} </div>

        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}

<!--
    <div id="messages">
    </div>
    <div id="messageField">
        <textarea id="textArea" placeholder="Messages Go Here"></textarea>
        <button id="openGIFPanel" onclick="openGIFPanel()" style="margin: 5%;
        background-color: transparent;
        border-color: rgba(255,255,255,0.5);">GIF</button>
    </div>
</div>

<div style="width: calc(100vw - 45px);
background-color: rgba(100,100,100,0.95);
max-height: calc(90vh + 11px);
display: grid;
visibility: hidden;
grid-template-rows: 75px auto;
margin-top: 2vh;
position: absolute;
top: 36px;
transition: opacity 1s;
opacity: 0.0;" id="gifPanel">
    <div style="
    /* font-size: 30px; */
    display: grid;
    margin: 20px;
    grid-template-columns: 90% auto;
    /* column-gap: 10px; */
    max-height: 35px;
    ">
        <div>
            <input id="gif" style="display: grid;
            width: 100%;
            font-size: 15px;
            height: 100%;">
        </div>
        <div style="cursor: pointer; justify-self: flex-end; font-size: 23px;" onclick="closeGifPanel()">
            &#10005;
        </div>
    </div>
    <div style="
        padding: 10px;
        display: grid;
        grid-template-columns: 23.75% 23.75% 23.75% 23.75%;
        column-gap: 3.333%;
        row-gap: 10px;
        height: calc(90vh - 75px);" id="appendGif">
    </div>
</div>-->